# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.build/
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
venv/
.env/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# Logs
logs/
*.log

# pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage*

# mypy
.mypy_cache/

# macOS
.DS_Store
